:root {
  --color-blood: #8a0303;
}

body {
  background-color: #000;
  padding: 0px;
  margin: 0px;
}

body * {
  font-family: "Advent Pro", arial ;
}


/* Section */
section.survival {
  background-color: #000;
  position: relative;
  padding: 2rem 4rem;
  position: relative;
}

section.survival.blood {
  --duration: 1s;
  padding: 2rem 7rem;
}

section.survival.blood > * {
  position: relative;
  z-index: 10;
  color: #000;
  font-family: 'Creepster', cursive;
}

section.survival.blood:before {
  --initial-height: 0%;
  content: " ";
  width: 1rem;
  height: var(--initial-height);
  position: absolute;
  top: 0px;
  left: 4rem;
  background-color: var(--color-blood);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  animation-name: blood;
  animation-duration: var(--duration);
  animation-timing-function: linear; 
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

section.survival.blood:nth-child(2):before {
  animation-delay: calc(var(--duration) * 5);
  left: calc(100% - 4rem);
}

section.survival.blood:nth-child(3):before {
  animation-delay: calc(var(--duration) * 10);
}

@keyframes blood {
  0% {
    height: var(--initial-height);
  }
  100% {
    height: 100%;
  }
}

section.survival.blood:after {
  content: " ";
  width: 1rem;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 0%;
  background-color: var(--color-blood);
  animation-name: fillblood;
  animation-delay: var(--duration);
  animation-duration: calc(var(--duration) * 4);
  animation-timing-function: linear; 
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

section.survival.blood:nth-child(2):after {
  animation-delay: calc(var(--duration) * 6);
}

section.survival.blood:nth-child(3):after {
  animation-delay: calc(var(--duration) * 11);
}

@keyframes fillblood {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

section.survival.blades {
  --duration: 1s;
  padding: 7rem 2rem;
  overflow: hidden;
}

section.survival.blades > * {
  color: var(--color-blood);
  font-family: 'Creepster', cursive;
}

section.survival.blades:before,
section.survival.blades:after {
  content: " ";
  width: 100%;
  height: 56%;
  background: linear-gradient(180deg, rgb(89 93 99) 0%, rgb(39 40 41) 88%, rgba(138,3,3,1) 100%);
  top: 0px;
  left:0px;
  position: absolute;
  animation-name: bladingtop;
  animation-duration: var(--duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 99% 100%, 98% 80%, 97% 100%, 96% 80%, 95% 100%, 94% 80%, 93% 100%, 92% 80%, 91% 100%, 90% 80%, 89% 100%, 88% 80%, 87% 100%, 86% 80%, 85% 100%, 84% 80%, 83% 100%, 82% 80%, 81% 100%, 80% 80%, 79% 100%, 78% 80%, 77% 100%, 76% 80%, 75% 100%, 74% 80%, 73% 100%, 72% 80%, 71% 100%, 70% 80%, 69% 100%, 68% 80%, 67% 100%, 66% 80%, 65% 100%, 64% 80%, 63% 100%, 62% 80%, 61% 100%, 60% 80%, 59% 100%, 58% 80%, 57% 100%, 56% 80%, 55% 100%, 54% 80%, 53% 100%, 52% 80%, 51% 100%, 50% 80%, 49% 100%, 48% 80%, 47% 100%, 46% 80%, 45% 100%, 44% 80%, 43% 100%, 42% 80%, 41% 100%, 40% 80%, 39% 100%, 38% 80%, 37% 100%, 36% 80%, 35% 100%, 34% 80%, 33% 100%, 32% 80%, 31% 100%, 30% 80%, 29% 100%, 28% 80%, 27% 100%, 26% 80%, 25% 100%, 24% 80%, 23% 100%, 22% 80%, 21% 100%, 20% 80%, 19% 100%, 18% 80%, 17% 100%, 16% 80%, 15% 100%, 14% 80%, 13% 100%, 12% 80%, 11% 100%, 10% 80%, 9% 100%, 8% 80%, 7% 100%, 6% 80%, 5% 100%, 4% 80%, 3% 100%, 2% 80%, 1% 100%, 0% 80%);
}

section.survival.blades:after {
  animation-name: bladingbotton;
  background: linear-gradient(180deg, rgba(138,3,3,1) 0%, rgb(39 40 41) 13%, rgb(89 93 99) 100%);
  top: 44%;
  clip-path: polygon(0% 0%, 1% 20%, 2% 0%, 3% 20%, 4% 0%, 5% 20%, 6% 0%, 7% 20%, 8% 0%, 9% 20%, 10% 0%, 11% 20%, 12% 0%, 13% 20%, 14% 0%, 15% 20%, 16% 0%, 17% 20%, 18% 0%, 19% 20%, 20% 0%, 21% 20%, 22% 0%, 23% 20%, 24% 0%, 25% 20%, 26% 0%, 27% 20%, 28% 0%, 29% 20%, 30% 0%, 31% 20%, 32% 0%, 33% 20%, 34% 0%, 35% 20%, 36% 0%, 37% 20%, 38% 0%, 39% 20%, 40% 0%, 41% 20%, 42% 0%, 43% 20%, 44% 0%, 45% 20%, 46% 0%, 47% 20%, 48% 0%, 49% 20%, 50% 0%, 51% 20%, 52% 0%, 53% 20%, 54% 0%, 55% 20%, 56% 0%, 57% 20%, 58% 0%, 59% 20%, 60% 0%, 61% 20%, 62% 0%, 63% 20%, 64% 0%, 65% 20%, 66% 0%, 67% 20%, 68% 0%, 69% 20%, 70% 0%, 71% 20%, 72% 0%, 73% 20%, 74% 0%, 75% 20%, 76% 0%, 77% 20%, 78% 0%, 79% 20%, 80% 0%, 81% 20%, 82% 0%, 83% 20%, 84% 0%, 85% 20%, 86% 0%, 87% 20%, 88% 0%, 89% 20%, 90% 0%, 91% 20%, 92% 0%, 93% 20%, 94% 0%, 95% 20%, 96% 0%, 97% 20%, 98% 0%, 99% 20%, 100% 0%, 100% 100%, 0% 100%);
}

@keyframes bladingtop {
  0% {
    top: -56%;
  }
  100% {
    top: 0%;
  }
}

@keyframes bladingbotton {
  0% {
    top: 100%;
  }
  100% {
    top: 44%;
  }
}
/*@media only screen and (max-width: 1300px) {
  section.survival.blades:before {
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 99% 100%, 98% 90%, 97% 100%, 96% 90%, 95% 100%, 94% 90%, 93% 100%, 92% 90%, 91% 100%, 90% 90%, 89% 100%, 88% 90%, 87% 100%, 86% 90%, 85% 100%, 84% 90%, 83% 100%, 82% 90%, 81% 100%, 80% 90%, 79% 100%, 78% 90%, 77% 100%, 76% 90%, 75% 100%, 74% 90%, 73% 100%, 72% 90%, 71% 100%, 70% 90%, 69% 100%, 68% 90%, 67% 100%, 66% 90%, 65% 100%, 64% 90%, 63% 100%, 62% 90%, 61% 100%, 60% 90%, 59% 100%, 58% 90%, 57% 100%, 56% 90%, 55% 100%, 54% 90%, 53% 100%, 52% 90%, 51% 100%, 50% 90%, 49% 100%, 48% 90%, 47% 100%, 46% 90%, 45% 100%, 44% 90%, 43% 100%, 42% 90%, 41% 100%, 40% 90%, 39% 100%, 38% 90%, 37% 100%, 36% 90%, 35% 100%, 34% 90%, 33% 100%, 32% 90%, 31% 100%, 30% 90%, 29% 100%, 28% 90%, 27% 100%, 26% 90%, 25% 100%, 24% 90%, 23% 100%, 22% 90%, 21% 100%, 20% 90%, 19% 100%, 18% 90%, 17% 100%, 16% 90%, 15% 100%, 14% 90%, 13% 100%, 12% 90%, 11% 100%, 10% 90%, 9% 100%, 8% 90%, 7% 100%, 6% 90%, 5% 100%, 4% 90%, 3% 100%, 2% 90%, 1% 100%, 0% 90%);
  }
}

@media only screen and (max-width: 800px) {
  section.survival.blades:before {
    clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 99% 100%, 98% 95%, 97% 100%, 96% 95%, 95% 100%, 94% 95%, 93% 100%, 92% 95%, 91% 100%, 90% 95%, 89% 100%, 88% 95%, 87% 100%, 86% 95%, 85% 100%, 84% 95%, 83% 100%, 82% 95%, 81% 100%, 80% 95%, 79% 100%, 78% 95%, 77% 100%, 76% 95%, 75% 100%, 74% 95%, 73% 100%, 72% 95%, 71% 100%, 70% 95%, 69% 100%, 68% 95%, 67% 100%, 66% 95%, 65% 100%, 64% 95%, 63% 100%, 62% 95%, 61% 100%, 60% 95%, 59% 100%, 58% 95%, 57% 100%, 56% 95%, 55% 100%, 54% 95%, 53% 100%, 52% 95%, 51% 100%, 50% 95%, 49% 100%, 48% 95%, 47% 100%, 46% 95%, 45% 100%, 44% 95%, 43% 100%, 42% 95%, 41% 100%, 40% 95%, 39% 100%, 38% 95%, 37% 100%, 36% 95%, 35% 100%, 34% 95%, 33% 100%, 32% 95%, 31% 100%, 30% 95%, 29% 100%, 28% 95%, 27% 100%, 26% 95%, 25% 100%, 24% 95%, 23% 100%, 22% 95%, 21% 100%, 20% 95%, 19% 100%, 18% 95%, 17% 100%, 16% 95%, 15% 100%, 14% 95%, 13% 100%, 12% 95%, 11% 100%, 10% 95%, 9% 100%, 8% 95%, 7% 100%, 6% 95%, 5% 100%, 4% 95%, 3% 100%, 2% 95%, 1% 100%, 0% 95%);
  }
}*/