:root {
  --duration: 2s;
  --color-blood: #8a0303;
  --color-blood-light: #cc1212;
  --color-light-steel: #595D61;
  --color-dark-steel: #292728;
}

body {
  background-color: #000;
  padding: 0px;
  margin: 0px;
}

body * {
  font-family: 'Creepster', cursive;
}


/* Section */
section.survival {
  background-color: #000;
  position: relative;
  padding: 2rem 4rem;
  position: relative;
}

section.survival > * {
  color: var(--color-blood);
}

section.survival.blood {
  --duration: 1s;
  padding: 0;

}

section.survival.blood > * {
  position: relative;
  z-index: 10;
  color: #000;
  padding: 2rem 7rem;
  margin: 0;
}

section.survival.blood > *:before {
  --initial-height: 0%;
  content: " ";
  width: 1rem;
  height: var(--initial-height);
  position: absolute;
  top: 0px;
  left: 4rem;
  background-color: var(--color-blood);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  animation-name: blood;
  animation-duration: var(--duration);
  animation-timing-function: linear; 
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

section.survival.blood > *:nth-child(2):before {
  animation-delay: calc(var(--duration) * 5);
  left: calc(100% - 4rem);
}

section.survival.blood > *:nth-child(3):before {
  animation-delay: calc(var(--duration) * 10);
}

@keyframes blood {
  0% {
    height: var(--initial-height);
  }
  100% {
    height: 100%;
  }
}

section.survival.blood > *:after {
  content: " ";
  width: 1rem;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 0%;
  background-color: var(--color-blood);
  z-index: -1;
  animation-name: fillblood;
  animation-delay: var(--duration);
  animation-duration: calc(var(--duration) * 4);
  animation-timing-function: linear; 
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

section.survival.blood > *:nth-child(2):after {
  animation-delay: calc(var(--duration) * 6);
}

section.survival.blood > *:nth-child(3):after {
  animation-delay: calc(var(--duration) * 11);
}

@keyframes fillblood {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

section.survival.blades {
  --duration: 1s;
  padding: 7rem 2rem;
  overflow: hidden;
}

section.survival.blades > * {
  color: var(--color-blood);
  font-family: 'Creepster', cursive;
}

section.survival.blades:before,
section.survival.blades:after {
  content: " ";
  width: 100%;
  height: 56%;
  background: linear-gradient(180deg, var(--color-light-steel) 0%, var(--color-dark-steel) 88%, var(--color-dark-steel) 100%);
  top: 0px;
  left:0px;
  position: absolute;
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 99% 100%, 98% 80%, 97% 100%, 96% 80%, 95% 100%, 94% 80%, 93% 100%, 92% 80%, 91% 100%, 90% 80%, 89% 100%, 88% 80%, 87% 100%, 86% 80%, 85% 100%, 84% 80%, 83% 100%, 82% 80%, 81% 100%, 80% 80%, 79% 100%, 78% 80%, 77% 100%, 76% 80%, 75% 100%, 74% 80%, 73% 100%, 72% 80%, 71% 100%, 70% 80%, 69% 100%, 68% 80%, 67% 100%, 66% 80%, 65% 100%, 64% 80%, 63% 100%, 62% 80%, 61% 100%, 60% 80%, 59% 100%, 58% 80%, 57% 100%, 56% 80%, 55% 100%, 54% 80%, 53% 100%, 52% 80%, 51% 100%, 50% 80%, 49% 100%, 48% 80%, 47% 100%, 46% 80%, 45% 100%, 44% 80%, 43% 100%, 42% 80%, 41% 100%, 40% 80%, 39% 100%, 38% 80%, 37% 100%, 36% 80%, 35% 100%, 34% 80%, 33% 100%, 32% 80%, 31% 100%, 30% 80%, 29% 100%, 28% 80%, 27% 100%, 26% 80%, 25% 100%, 24% 80%, 23% 100%, 22% 80%, 21% 100%, 20% 80%, 19% 100%, 18% 80%, 17% 100%, 16% 80%, 15% 100%, 14% 80%, 13% 100%, 12% 80%, 11% 100%, 10% 80%, 9% 100%, 8% 80%, 7% 100%, 6% 80%, 5% 100%, 4% 80%, 3% 100%, 2% 80%, 1% 100%, 0% 80%);
}

section.survival.blades:after {
  background: linear-gradient(180deg, var(--color-dark-steel) 0%, var(--color-dark-steel) 13%, var(--color-light-steel) 100%);
  top: 44%;
  clip-path: polygon(0% 0%, 1% 20%, 2% 0%, 3% 20%, 4% 0%, 5% 20%, 6% 0%, 7% 20%, 8% 0%, 9% 20%, 10% 0%, 11% 20%, 12% 0%, 13% 20%, 14% 0%, 15% 20%, 16% 0%, 17% 20%, 18% 0%, 19% 20%, 20% 0%, 21% 20%, 22% 0%, 23% 20%, 24% 0%, 25% 20%, 26% 0%, 27% 20%, 28% 0%, 29% 20%, 30% 0%, 31% 20%, 32% 0%, 33% 20%, 34% 0%, 35% 20%, 36% 0%, 37% 20%, 38% 0%, 39% 20%, 40% 0%, 41% 20%, 42% 0%, 43% 20%, 44% 0%, 45% 20%, 46% 0%, 47% 20%, 48% 0%, 49% 20%, 50% 0%, 51% 20%, 52% 0%, 53% 20%, 54% 0%, 55% 20%, 56% 0%, 57% 20%, 58% 0%, 59% 20%, 60% 0%, 61% 20%, 62% 0%, 63% 20%, 64% 0%, 65% 20%, 66% 0%, 67% 20%, 68% 0%, 69% 20%, 70% 0%, 71% 20%, 72% 0%, 73% 20%, 74% 0%, 75% 20%, 76% 0%, 77% 20%, 78% 0%, 79% 20%, 80% 0%, 81% 20%, 82% 0%, 83% 20%, 84% 0%, 85% 20%, 86% 0%, 87% 20%, 88% 0%, 89% 20%, 90% 0%, 91% 20%, 92% 0%, 93% 20%, 94% 0%, 95% 20%, 96% 0%, 97% 20%, 98% 0%, 99% 20%, 100% 0%, 100% 100%, 0% 100%);
}

section.survival.blades.animation:before,
section.survival.blades.animation:after {
  animation-name: bladingtop;
  animation-duration: var(--duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

section.survival.blades.animation:after {
  animation-name: bladingbotton;
}

section.survival.blades.hover:before,
section.survival.blades.hover:after {
  transition: top var(--duration); 
}

section.survival.blades.hover:hover:before {
  top: -41%;
}

section.survival.blades.hover:hover:after {
  top: 86%;
}

@keyframes bladingtop {
  0% {
    top: -56%;
  }
  100% {
    top: 0%;
  }
}

@keyframes bladingbotton {
  0% {
    top: 100%;
  }
  100% {
    top: 44%;
  }
}

@media only screen and (max-width: 2000px) {
  section.survival.blades:before {
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 98% 100%, 96% 80%, 94% 100%, 92% 80%, 90% 100%, 88% 80%, 86% 100%, 84% 80%, 82% 100%, 80% 80%, 78% 100%, 76% 80%, 74% 100%, 72% 80%, 70% 100%, 68% 80%, 66% 100%, 64% 80%, 62% 100%, 60% 80%, 58% 100%, 56% 80%, 54% 100%, 52% 80%, 50% 100%, 48% 80%, 46% 100%, 44% 80%, 42% 100%, 40% 80%, 38% 100%, 36% 80%, 34% 100%, 32% 80%, 30% 100%, 28% 80%, 26% 100%, 24% 80%, 22% 100%, 20% 80%, 18% 100%, 16% 80%, 14% 100%, 12% 80%, 10% 100%, 8% 80%, 6% 100%, 4% 80%, 2% 100%, 0% 80%);
  }
  section.survival.blades:after {
    clip-path: polygon(0% 0%, 2% 20%, 4% 0%, 6% 20%, 8% 0%, 10% 20%, 12% 0%, 14% 20%, 16% 0%, 18% 20%, 20% 0%, 22% 20%, 24% 0%, 26% 20%, 28% 0%, 30% 20%, 32% 0%, 34% 20%, 36% 0%, 38% 20%, 40% 0%, 42% 20%, 44% 0%, 46% 20%, 48% 0%, 50% 20%, 52% 0%, 54% 20%, 56% 0%, 58% 20%, 60% 0%, 62% 20%, 64% 0%, 66% 20%, 68% 0%, 70% 20%, 72% 0%, 74% 20%, 76% 0%, 78% 20%, 80% 0%, 82% 20%, 84% 0%, 86% 20%, 88% 0%, 90% 20%, 92% 0%, 94% 20%, 96% 0%, 98% 20%, 100% 0%, 100% 100%, 0% 100%);
  }
}

@media only screen and (max-width: 1600px) {
  section.survival.blades:before {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 96% 80%, 92% 100%, 88% 80%, 84% 100%, 80% 80%, 76% 100%, 72% 80%, 68% 100%, 64% 80%, 60% 100%, 56% 80%, 52% 100%, 48% 80%, 44% 100%, 40% 80%, 36% 100%, 32% 80%, 28% 100%, 24% 80%, 20% 100%, 16% 80%, 12% 100%, 8% 80%, 4% 100%, 0% 80%);
  }
  section.survival.blades:after {
    clip-path: polygon(0% 0%, 4% 20%, 8% 0%, 12% 20%, 16% 0%, 20% 20%, 24% 0%, 28% 20%, 32% 0%, 36% 20%, 40% 0%, 44% 20%, 48% 0%, 52% 20%, 56% 0%, 60% 20%, 64% 0%, 68% 20%, 72% 0%, 76% 20%, 80% 0%, 84% 20%, 88% 0%, 92% 20%, 96% 0%, 100% 20%, 100% 100%, 0% 100%);
  }
}


@media only screen and (max-width: 1200px) {
  section.survival.blades:before {
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 95% 100%, 90% 80%, 85% 100%, 80% 80%, 75% 100%, 70% 80%, 65% 100%, 60% 80%, 55% 100%, 50% 80%, 45% 100%, 40% 80%, 35% 100%, 30% 80%, 25% 100%, 20% 80%, 15% 100%, 10% 80%, 5% 100%, 0% 80%);
  }
  section.survival.blades:after {
    clip-path: polygon(0% 0%, 5% 20%, 10% 0%, 15% 20%, 20% 0%, 25% 20%, 30% 0%, 35% 20%, 40% 0%, 45% 20%, 50% 0%, 55% 20%, 60% 0%, 65% 20%, 70% 0%, 75% 20%, 80% 0%, 85% 20%, 90% 0%, 95% 20%, 100% 0%, 100% 100%, 0% 100%);
  }
}

@media only screen and (max-width: 600px) {
  section.survival.blades:before {
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 90% 100%, 80% 80%, 70% 100%, 60% 80%, 50% 100%, 40% 80%, 30% 100%, 20% 80%, 10% 100%, 0% 80%);
  }
  section.survival.blades:after {
    clip-path: polygon(0% 0%, 10% 20%, 20% 0%, 30% 20%, 40% 0%, 50% 20%, 60% 0%, 70% 20%, 80% 0%, 90% 20%, 100% 0%, 100% 100%, 0% 100%);
  }
}

section.survival.saw {
  --duration: 0.3s;
  padding: 2rem 2rem;
  overflow: hidden;
}

section.survival.saw > * {
  color: var(--color-blood);
  font-family: 'Creepster', cursive;
}

section.survival.saw:after {
  --width: 4rem;
  content: " ";
  height: var(--width);
  width: var(--width);
  border-radius: 50%;
  position: relative;
  position: absolute;
  bottom: calc(0% - (var(--width) / 2));
  left: calc(0% - (var(--width) / 2));
  background: radial-gradient(circle, #000000 0%, #000000 10%, var(--color-dark-steel) 14%, var(--color-light-steel) 60%, var(--color-light-steel) 90% );
  animation-name: rotation;
  animation-duration: var(--duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /*z-index: 200;*/
  transition: left 12s;
}

section.survival.saw:before {
  --width-saw: 5rem;
  content: " ";
  height: var(--width-saw);
  width: var(--width-saw);
  background: var(--color-light-steel);
  position: absolute;
  bottom: calc(0% - (var(--width-saw) / 2));
  left: calc(0% - (var(--width-saw) / 2));
  --width: 0.5rem;
  clip-path: polygon(
    calc(50% - var(--width)) calc(0% + var(--width)),
    calc(50% + var(--width)) 0%,
    calc(50% + var(--width)) calc(50% - var(--width)),
    calc(100% - var(--width)) calc(50% - var(--width)),
    100% calc(50% + var(--width)),
    calc(50% + var(--width)) calc(50% + var(--width)),
    calc(50% + var(--width)) calc(100% - var(--width)),
    calc(50% - var(--width)) 100%,
    calc(50% - var(--width)) calc(50% + var(--width)),
    var(--width) calc(50% + var(--width)),
    0% calc(50% - var(--width)),
    calc(50% - var(--width)) calc(50% - var(--width))
  );
  animation-name: rotation;
  animation-duration: var(--duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /*z-index: 150;*/
  transition: left 12s;
}

section.survival.saw:hover:before,
section.survival.saw:hover:after {
  left: 100%;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* titles */

h1.survival.bleeding,
h2.survival.bleeding,
h3.survival.bleeding,
h4.survival.bleeding {
  --drop-width: 1rem;
  color: var(--color-blood);
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 2.2rem;
  position: relative;
  color: var(--color-blood-light);
  padding: 0;
  margin: calc(var(--drop-width) * 2) 0;
}

h2.survival.bleeding {
  --drop-width: 0.7rem;
  font-size: 1.7rem;
  letter-spacing: 1px;
  line-height: 1.9rem;
}

h3.survival.bleeding {
  --drop-width: 0.4rem;
  font-size: 1.4rem;
  letter-spacing: 1px;
  line-height: 1.6rem;
}

h4.survival.bleeding {
  --drop-width: 0.2rem;
  font-size: 1rem;
  letter-spacing: 0px;
  line-height: 1.2rem;
}

h1.survival.bleeding:after,
h2.survival.bleeding:after,
h3.survival.bleeding:after,
h4.survival.bleeding:after {
  content: " ";
  top: calc(100% - 0.2rem);
  left: 0px;
  position: absolute;
  width: var(--drop-width);
  height: calc(var(--drop-width) * 2);
  background-color: var(--color-blood-light);
  border-bottom-left-radius: calc(var(--drop-width) / 2);
  border-bottom-right-radius: calc(var(--drop-width) / 2);
  clip-path: polygon(100% 60%, 100% 100%, 0% 100%, 0% 60%, 50% 0%);
  transform: scale(0);
  animation-name: bleeding;
  animation-duration: var(--duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes bleeding {
  0% {
    top: calc(100% - 1rem);
    transform: scale(0);
  }
  50% {
    top: calc(100% - 0.2rem);
    transform: scale(1);
  }

  100% {
    top: calc(100% + (var(--drop-width) * 2));
    transform: scale(1);
  }
}

h1.survival.bleeding ~ *:nth-child(2):not(.survival),
h2.survival.bleeding ~ *:nth-child(2):not(.survival),
h3.survival.bleeding ~ *:nth-child(2):not(.survival),
h4.survival.bleeding ~ *:nth-child(2):not(.survival) {
  --drop-width: 1rem;
  background: -webkit-radial-gradient(#fff 0%, #fff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-name: bloodsoaking;
  animation-duration: calc(var(--duration) * 10);
  animation-delay: calc(var(--duration) * 0.5);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

h2.survival.bleeding ~ *:nth-child(2):not(.survival) {
  --drop-width: 0.7rem;
}

h3.survival.bleeding ~ *:nth-child(2):not(.survival) {
  --drop-width: 0.4rem;
}

h4.survival.bleeding ~ *:nth-child(2):not(.survival) {
  --drop-width: 0.2rem;
}

@keyframes bloodsoaking {
  0% {
    background: -webkit-radial-gradient(#fff 0%, #fff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  10% {
    background: radial-gradient(ellipse at 0% calc(var(--drop-width) * 2), var(--color-blood)0%, var(--color-blood)5%,#fff 10%, #fff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  20% {
    background: radial-gradient(ellipse at 0% calc(var(--drop-width) * 2), var(--color-blood)0%, var(--color-blood)15%,#fff 20%, #fff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  30% {
    background: radial-gradient(ellipse at 0% calc(var(--drop-width) * 2), var(--color-blood)0%, var(--color-blood)25%,#fff 30%, #fff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  40% {
    background: radial-gradient(ellipse at 0% calc(var(--drop-width) * 2), var(--color-blood)0%, var(--color-blood)35%,#fff 40%, #fff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  50% {
    background: radial-gradient(ellipse at 0% calc(var(--drop-width) * 2), var(--color-blood)0%, var(--color-blood)45%,#fff 50%, #fff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  60% {
    background: radial-gradient(ellipse at 0% calc(var(--drop-width) * 2), var(--color-blood)0%, var(--color-blood)55%,#fff 60%, #fff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  70% {
    background: radial-gradient(ellipse at 0% calc(var(--drop-width) * 2), var(--color-blood)0%, var(--color-blood)65%,#fff 70%, #fff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  80% {
    background: radial-gradient(ellipse at 0% calc(var(--drop-width) * 2), var(--color-blood)0%, var(--color-blood)75%,#fff 80%, #fff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  90% {
    background: radial-gradient(ellipse at 0% 50%, var(--color-blood)0%, var(--color-blood)85%,#fff 90%, #fff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    background: radial-gradient(ellipse at 0% 50%, var(--color-blood)0%, var(--color-blood)100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}